<h2 mat-dialog-title>Edit book.</h2>
    <div mat-dialog-content class="contentBox" [formGroup]="form">
        <div mat-form-field>
           <input matInput class="widthFit" placeholder="Title" formControlName="title" value="data.title">
        </div>
        <div mat-form-field>
            <input matInput class="widthFit" placeholder="Year of publish" formControlName="year_of_publish" type="number">
        </div>
        <div mat-form-field>
            <input matInput class="widthFit" placeholder="ISBN" formControlName="isbn" >
        </div>
        <div mat-form-field>
            <select formControlName="autorId" id="autorId" class="form-control widthFit">
                <option *ngFor="let author of authors" [ngValue]="author.autorId">
                    {{author.fisrtName}} {{author.lastName}}
                </option>
            </select>
        </div>
    </div>
    

 
<mat-dialog-actions>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">Edit</button>
    <button class="btn btn-danger" (click)="close()">Cancel</button>
</mat-dialog-actions>
